name: Sync to SDK Repository

on:
  push:
    paths:
    - 'typed_contracts/**'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source repo
      uses: actions/checkout@v2

    - name: Push to destination repo
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        
        git clone https://${{ secrets.REPO_ACCESS_TOKEN }}@github.com/protofire/xsigners-sdk.git xsigners_sdk 
        cp -r typed_contracts xsigners_sdk/src/
        
        cd xsigners_sdk 
        git remote set-url origin https://${{ secrets.REPO_ACCESS_TOKEN }}@github.com/protofire/xsigners-sdk.git
        git add .
        git commit -m "Sync from contracts source repo"
        git push

